@tailwind base;
@tailwind components;
@tailwind utilities;

/* #memoContainer{
  width: 90vw;
  padding: 0px;
  margin: 0px;
} */

body{
}

.buyCoffeeForm{
  width: 22rem;
}

.submitButton{
  width: 8rem;
}

.memo{
  width: 90%;
  max-width: 50rem;
}